body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#mainImg {
    width: 20%; /* Adjusts the width to 50% of its container */
    height: 40%; /* Keeps the aspect ratio of the image */
}
header {
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.yellowBg {
    background-color: yellow;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.5;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



